[submodule "Fable.Builders.DnDKit"]
	path = Fable.Builders.DnDKit
	url = https://github.com/uxsoft/Fable.Builders.DnDKit
[submodule "Fable.Builders.AntDesign"]
	path = Fable.Builders.AntDesign
	url = https://github.com/uxsoft/Fable.Builders.AntDesign
[submodule "Fable.Builders.AntDesignCharts"]
	path = Fable.Builders.AntDesignCharts
	url = https://github.com/uxsoft/Fable.Builders.AntDesignCharts
[submodule "Fable.Builders.Fela"]
	path = Fable.Builders.Fela
	url = https://github.com/uxsoft/Fable.Builders.Fela
[submodule "Fable.Builders.Emotion"]
	path = Fable.Builders.Emotion
	url = https://github.com/uxsoft/Fable.Builders.Emotion
[submodule "Fable.Builders.React"]
	path = Fable.Builders.React
	url = https://github.com/uxsoft/Fable.Builders.React
